::selection {
    background-color: rgb(238, 238, 238);
}

body {
    padding: 0;
    margin: 0;
}

/* #region navbar */
nav.is-transparent {
    background-color: transparent;
}

div.navbar-start, div.navbar-end {
    margin-left: 30px;
}

div.navbar-end {
    margin-right: 30px;
}

nav.navbar a {
    transition-property: color;
    transition-duration: .3s;
}

nav.navbar a:hover {
    color: hsl(0, 0%, 29%) !important;
}

nav.navbar {
    top: -50px !important;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideDown {
    to {
        top: 0;
        opacity: 1;
    }
}
/* #endregion */

/* #region Logo */
#logo {
    position: relative;
    left: -35px;
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(.95);
}

#slogan {
    position: relative;
    right: -35px;
    animation-name: slideRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(.95);
}

@keyframes slideLeft {
    to {
        left: 0;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideRight {
    to {
        right: 0;
        opacity: 1;
        transform: scale(1);
    }
}
/* #endregion */

/* #region loadingPanel */
.loadingPanel {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 231, 231);
    z-index: 99;
    transition-property: opacity;
    transition-duration: .5s;
}

.loadingPanel .cont {
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;    
}

.loadingPanel span {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: scale(0);
}

.loadingPanel .inner {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingPanel h4 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
    color: rgb(187, 187, 187);
    margin-bottom: 10px;
}

@keyframes load {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }   
}
/* #endregion */